@inherits OwningComponentBase
<section>
    <p class="icon-text is-size-3">
        <span class="icon">
            <i class="gg-loadbar-sound"></i>
        </span>
        <span>
            Indexページ
        </span>
    </p>
    <div class="box">
        <div class="section">
            <QualBtutton Layer="LayerType.Primary" IconClass="gg-loadbar-sound" OnClickEvent="OnCustomerClick">カスタマー編集ページへ</QualBtutton>
        </div>
        <div class="section">
            <QualBtutton Layer="LayerType.Secondary" IconClass="gg-loadbar-doc" OnClickEvent="OnCustomerTableClick">カスタマーテーブルへ</QualBtutton>
        </div>
    </div>
</section>