@inherits RazorCore

<div @attributes="MeargeContainerAttribute">
    <div @attributes="MergeInformationAttribute">
        @((MarkupString)Option.InformationContentInvoke(CreatePageInformationArg()))
    </div>
    <div @attributes="MergeButtonGroupAttribute">
        @foreach(var page in GetPagenation())
        {
            if (page.CurrentPageNumber == 0)
            {
                <span>@((MarkupString)page.GetLabelInvoke())</span>
            }
            else
            {
                <button @attributes="GetMergeButtonAttribute(page)">
                    @((MarkupString)page.GetLabelInvoke())
                </button>
            }
        }
    </div>
</div>