@inherits OptionParameterRazorCore
@typeparam TModel where TModel : class
@typeparam TProperty

<div @attributes="MergePairContainerAttributes">
    <label @attributes="MergeFieldLabelAttributes">@ChildContent</label>
    <FieldContent Property="ExpressionProperty" Model="Model" OptionKey="LabelPairOption.FieldOptionKey" ></FieldContent>
</div>