@inherits QualRazorComponentBase
@typeparam T

<CascadingValue Name="@CASCADE_PARAM" Value="this">
    <section @attributes="MergedAttributes">
        @foreach(var node in TreeViewModels.Data.Root.Children)
        {
            <TreeNode NodeTemplate="@NodeRenderFlagment" TreeDataProvider="node"></TreeNode>
        }
    </section>
</CascadingValue>