@inherits QualRazorComponentBase
@*デスクトップ*@
<button @attributes="MergeDesktopAtribute">
    <QualIcon IconClass="@IconClass"></QualIcon>
    <span>
        @ChildContent
    </span>
</button>
@* モバイル *@
<button @attributes="MergeMobileAtribute">
    <QualIcon IconClass="@IconClass"></QualIcon>
    <span>
        @ChildContent
    </span>
</button>