@inherits QualRazorComponentBase
@*デスクトップ*@
<button @attributes="MergeDesktopAtribute">
    <Icon IconClass="@IconClass"></Icon>
    <span>
        @ButtonContent
    </span>
</button>
@* モバイル *@
<button @attributes="MergeMobileAtribute">
    <Icon IconClass="@IconClass"></Icon>
    <span>
        @ButtonContent
    </span>
</button>