@inherits OptionParameterRazorCore

<div @attributes="MergeDialogAttributes">
    <div class="modal-background"></div>
    <div @attributes="MergeContainerAttributes">
        <header @attributes="MergeHeaderAttributes">
            <p @attributes="MergeTitleAttributes">@DialogTitle</p>
            @if (Options.IsCloseButton)
            {
                <button @attributes="MergeCloseButtonAttributes"></button>
            }
        </header>
        <section @attributes="MergeBodyAttributes">
            @DialogContents
        </section>
        <footer @attributes="MergeFooterAttributes">
            @if (PrimaryButtonContent is not null || PrimaryButtonIconContent is not null)
            {
                <PrimaryButton type="@(PrimarySubmitButton?"submit":"button")" ButtonClick="OnPrimaryClick">
                    <ButtonContent>
                        @PrimaryButtonContent
                    </ButtonContent>
                    <IconContent>
                        @PrimaryButtonIconContent
                    </IconContent>
                </PrimaryButton>
            }
            @if (SecondaryButtonContent is not null || SecondaryButtonIconContent is not null)
            {
                <SecondaryButton ButtonClick="OnSecondaryClick">
                    <ButtonContent>
                        @SecondaryButtonContent
                    </ButtonContent>
                    <IconContent>
                        @SecondaryButtonIconContent
                    </IconContent>
                </SecondaryButton>
            }
            @if (TertiaryButtonContent is not null || TertiaryButtonIconContent is not null)
            {
                <TertiaryButton ButtonClick="OnTertiaryClick">
                    <ButtonContent>
                        @TertiaryButtonContent
                    </ButtonContent>
                    <IconContent>
                        @TertiaryButtonIconContent
                    </IconContent>
                </TertiaryButton>
            }
        </footer>
    </div>
</div>
