@inherits RazorCore

<div>
    <label class="label">A</label>
    <div class="field has-addons">
        <div class="control">
            <span>
                <input class="input" type="text">
            </span>
        </div>
        <div class="control">
            <span class="select">
                <select>
                    <option>EQ</option>
                    <option>NEQ</option>
                    <option>EQ</option>
                </select>
            </span>
        </div>

    </div>
</div>

<h3>FilterField</h3>

@code {

}
