@inherits QualRazorComponentBase
@attribute [CascadingTypeParameter(nameof(TModel))]
@typeparam TModel

<CascadingValue Value="typeof(TModel)">
    <CascadingValue Name="@CascadingParameterName.TableContentParent" Value="this">
        @ChildContent
        <table @attributes="MergedAttributes">
            <thead>
                <tr>
                    @foreach (var column in _columns)
                    {
                        @column.RenderHeader()
                    }
                </tr>
            </thead>
            @if (PageInforamation is not null)
            {
                <tfoot>
                    <tr>
                        <th colspan="@NumberOfColumn">
                            @PageInforamation
                        </th>
                    </tr>
                </tfoot>
            }
            <tbody>
                @if(ViewModel?.Data is not null)
                {
                    @foreach (var row in ViewModel.Data.Sources.Select(t => new TableRowState<TModel>(t)))
                    {
                        <Row RowState="row"></Row>
                    }
                }
            </tbody>
        </table>
    </CascadingValue>
</CascadingValue>
