@inherits ButtonCore
@* デスクトップ *@
<button @attributes="PrimaryDesktopMergeAttribute">
    @if(IconContent is not null)
    {
        <IconContent>
            <ChildContent>
                @IconContent
            </ChildContent>
        </IconContent>
    }
    <span>
        @ButtonContent
    </span>
</button>
@* モバイル *@
<button @attributes="PrimaryMobileMergeAttribute">
    @if (IconContent is not null)
    {
        <IconContent>
            <ChildContent>
                @IconContent
            </ChildContent>
        </IconContent>
    }
    <span>
        @ButtonContent
    </span>
</button>
