@inherits RazorCore
<button @attributes="MergeDesktopAtribute">
    <IconContent IconClass="@IconClass"></IconContent>
    <span>
        @ButtonContent
    </span>
</button>
@* モバイル *@
<button @attributes="MergeMobileAtribute">
    <IconContent IconClass="@IconClass"></IconContent>
    <span>
        @ButtonContent
    </span>
</button>