@using QualRazorCore
@using QualRazorCore.Defines
@inherits ButtonCore

<button disabled="@DisabledValue" @attributes="AdditionalAttributes" class="button @ClassDefine.Button.TERTIARY" @onclick="ButtonClick" @onmouseup="ButtonUp" @onmousedown="ButtonDown">
    @if (IconContent is not null)
    {
        <span class="icon">
            @IconContent
        </span>
    }
    <span>
        @ButtonContent
    </span>
</button>