@inherits QualRazorComponentBase
@typeparam TProperty
<label class="@CssClasses.FIELD_RADIO">
    <Microsoft.AspNetCore.Components.Forms.InputRadio Value="@Value"></Microsoft.AspNetCore.Components.Forms.InputRadio>
    @ChildContent
</label>