@using QualRazorLib.Providers.Fields
@inherits OwningComponentBase

<p class="icon-text is-size-3">
    <span class="icon">
        <i class="gg-loadbar-sound"></i>
    </span>
    <span>
        編集ページ
    </span>
</p>
<section class="section"> 
    <QualForms Model="Model">
        <ChildContentWithModel Context="model">
            <QualLabeledField Value="model.Name" PropertyExpression="()=>model.Name">Name</QualLabeledField>
            <QualLabeledField Provider="@(new TextFieldProvider(){EditType=BlazorCustomInput.Components.TextEditType.Tel})" Value="model.PhoneNumber" PropertyExpression="()=>model.PhoneNumber">Phone</QualLabeledField>
        </ChildContentWithModel>
    </QualForms>
</section>