@inherits OwningComponentBase

<p class="icon-text is-size-3">
    <span class="icon">
        <i class="gg-loadbar-sound"></i>
    </span>
    <span>
        編集ページ
    </span>
</p>
<section class="section"> 
    <QualForms Model="Model">
        <QualLabeledField PropertyValueExpression="@(()=>Model.f)" ></QualLabeledField>
    </QualForms>

</section>